@media only screen and (max-width:930px) {
    #atuacao{
        height: inherit;
    }
    .areas {
       flex-wrap: wrap;
    }
    .areas-item{
        margin-bottom: 40px;
    }
}
@media screen and (max-width:830px) {
    .nav-bar{
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    
    .mobile-menu ul{
        display: flex;
        text-align: center;
        padding: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.5rem;
    }
    
    .open{
        display: block;
    }
    .banner{
        background-size: 100% 77%;
    }
    .divisor .container{
        justify-content: center;
    }
    .img-sobre{
        background-position-y: 0px;
    }

    
}
@media screen and (max-width:730px) {
    .container{
        padding: 1.5rem;
    }
}
@media screen and (max-width:630px) {
    .img-sobre{
        display: none;
    }
    
}
@media screen and (max-width:430px) {
    .text-banner h1 {
        font-size: 2rem;
        
        text-align: center;
    }
    .nav-link{
        font-size: 0.85rem;
    }
    .logo img {
        width: 16rem;
    }
   
}
